<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Brewery city</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label>Select a City:</ion-label>
  <ion-select [(ngModel)]="selectedCity" (ionChange)="onCityChange()">
    <ion-select-option *ngFor="let city of cities" [value]="city">{{ city }}</ion-select-option>
  </ion-select>

  <ion-list>
    <ion-item *ngFor="let brewery of breweries" [routerLink]="['/detail', brewery.id]">
      {{ brewery.name }}
    </ion-item>
  </ion-list>
</ion-content>
